.post-thumbnail {
  margin-top: 2rem;
}

.edit-post-button-container {
  padding-left: 0;
}

.edit-post-button {
  float: right;
}

.post-thumbnail-title {
  margin-bottom: 0.2rem;
}

.post-thumbnail-text {
  margin-top: 0.5rem;
}
