#blog {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
  max-width: 50rem;
}

#blog-title-row {
  margin-bottom: 1rem;
}

#blog-title {
  margin-bottom: 0rem;
}

#intro {
  border: 1px solid;
  border-color: #ff9999;
  border-radius: 4px;
  padding: 1rem;
  margin-bottom: 2.5rem;
}

#new-post-button {
  margin-top: 4rem;
  margin-bottom: 2rem;
}
